.App {
  text-align: center;
}

.logo {
  height: 200px;
  pointer-events: none;
}

.animate {
  animation: App-logo-spin 1s infinite linear;
}

.App-header {
  background-color: #282c34;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 5px solid #61dafb;
}

.App-link {
  color: #61dafb;
}

.play {
  animation-play-state: running;
}
.stop {
  animation-play-state: paused;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    border-radius: 0;
  }
  to {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}
/*
.typing-effect {
  animation: typing 10s steps(100), effect 0.5s step-end infinite alternate;
} */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}
